:root {
  --navbar-height: 50px;
  --navbar-background-color: #c4c4c4;
  --black-color: black;
  --red: #a83f39;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

.navbar {
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--navbar-background-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  padding: 0.4rem 1rem;
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-search-bar-container {
  height: 100%;
  place-self: center;
  display: flex;
  position: relative;
}

.navbar-search-bar-types-container {
  height: 100%;
  padding: 0 0.4rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #24a0ed;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-search-bar-input-container {
  position: relative;
}

.navbar-search-bar {
  width: 450px;
  border: none;
  height: 100%;
  padding-left: 1rem;
  padding-right: 2rem;
}

.navbar-favourite-icon {
  filter: invert(30%) sepia(67%) saturate(6061%) hue-rotate(352deg)
    brightness(96%) contrast(110%);
}

.navbar-search-bar-types {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 160%;
  z-index: 999;
  border-radius: 0.5rem;
  padding: 0.6rem;
  display: grid;
  grid-auto-rows: auto;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
}

.navbar-search-bar-type {
  cursor: pointer;
}

.navbar-types-icon,
.navbar-types-icon-x {
  filter: invert(57%) sepia(42%) saturate(5570%) hue-rotate(180deg)
    brightness(104%) contrast(86%);
  width: 19px;
  margin-left: 0.2rem;
}

.navbar-types-icon {
  transition: transform 500ms ease-out;
  transform: rotate(90deg);
}

.navbar-search-bar-submit-button-container {
  height: 100%;
  padding: 0 0.4rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid #24a0ed;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-search-bar-search-result-type {
  color: var(--navbar-background-color);
}

.navbar-x-icon {
  filter: invert(57%) sepia(42%) saturate(5570%) hue-rotate(180deg)
    brightness(104%) contrast(86%);
  width: 19px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 92%;
  cursor: pointer;
}

.navbar-search-icon {
  filter: invert(57%) sepia(42%) saturate(5570%) hue-rotate(180deg)
    brightness(104%) contrast(86%);
  width: 19px;
  margin-left: 0.2rem;
}

.cart-icon {
  width: 30px;
  filter: invert(57%) sepia(42%) saturate(5570%) hue-rotate(180deg)
    brightness(104%) contrast(86%);
}

.navbar-favourite-container {
  display: flex;
  align-items: center;
}

.navbar-option-container {
  display: flex;
  align-items: center;
}

.navbar-icon-counter-container {
  position: relative;
}

.navbar-favourite-count-container {
  background-color: #24a0ed;
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  left: 50%;
  top: -25%;
}

.navbar-modal-opacity {
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.7);
  left: 0;
  top: var(--navbar-height);
  display: grid;
  place-items: center;
}

.navbar-search-bar-search-results {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 160%;
  border-radius: 0.5rem;
  background: #ffffff;
}

.navbar-profile-container {
  position: relative;
}
.navbar-profile-modal-menu {
  position: absolute;
  background-color: var(--navbar-background-color);
  left: -50%;
  top: 226%;
}

.navbar-profile-modal-menu-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 10px solid var(--navbar-background-color);
  border-right: 10px solid transparent;
  left: 50%;
  top: -13%;
  border-left: 10px solid transparent;
}

.cart-container {
  display: grid;
  place-items: center;
  z-index: 999;
  position: fixed;
}

.confirmation {
  width: 800px;
  border-radius: 0.5rem;
  background: #ffffff;
  text-align: center;
}

.confirmation input {
  display: block;
}

.cart-product-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr);
  padding: 1rem;
  place-items: center;
}

.cart-plus-minus-count {
  display: flex;
}

.cart-plus-minus-count > img,
.cart-plus-minus-count > input {
  width: 30px;
  border: 1px solid var(--navbar-background-color);
  padding: 0.4rem;
}

.cart-plus-minus-count > input {
  display: grid;
  place-items: center;
  text-align: center;
}

.cart-plus-minus-count > img:nth-of-type(1) {
  border-radius: 0.3rem 0 0 0.3rem;
  cursor: pointer;
}

.cart-plus-minus-count > div {
}

.cart-plus-minus-count > img:nth-of-type(2) {
  border-radius: 0 0.3rem 0.3rem 0;
  cursor: pointer;
}

.cart {
  width: 800px;
  border-radius: 0.5rem;
  background: #ffffff;
  text-align: center;
}

.cart h2 {
  border-bottom: 1px solid var(--navbar-background-color);
}

.cart-body {
  max-height: 500px;
  overflow-y: auto;
  border-bottom: 1px solid var(--navbar-background-color);
}

.navbar-search-bar-search-result {
  border-bottom: 1px solid var(--navbar-background-color);
  margin: 0 0.5rem;
  padding: 0.5rem 0.5rem;
}

.navbar-compare-container {
  position: relative;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.navbar-options {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  align-items: center;
}

.login-form-container {
  display: grid;
  place-items: center;
  height: 90vh;
}

.login-form {
  background-color: #c4c4c4;
  width: 560px;
  padding: 20px 50px;
  text-align: center;
}

.login-form > input {
  width: 100%;
  display: block;
  color: black;
  padding-left: 1rem;
  background-color: transparent;
  margin-bottom: 10px;
}

.login-form > input::placeholder {
  color: black;
  opacity: 1;
}

.login-form-options {
  display: flex;
}

.login-form-options > button {
  margin-left: auto;
}

.shop-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 60px 35px 0 35px;
}

.shop-side-options {
  width: 200px;
}

.shop-side-options h2 {
  border-top: 1px solid var(--navbar-background-color);
}

.shop-side-options h2:nth-of-type(1) {
  border-top: none;
}

.shop-side-options-price {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.shop-side-options-price-x {
  width: 10px;
  height: 100%;
  position: absolute;
  left: 83%;
}
.shop-side-options-price-fields {
  width: 40%;
  position: relative;
}

.shop-side-options-price input {
  width: 100%;
  padding-right: 0.8rem;
}

.shop-side-options-apply {
  position: absolute;
  left: 105%;
  background-color: var(--navbar-background-color);
}

.shop-side-options-apply-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid var(--navbar-background-color);
  left: -6%;
  top: 25%;
}

.shop-side-options-stats-stat {
  display: flex;
}

.shop-side-options-stats-stat > img {
  width: 19px;
}

.shop-side-options-stats-stat-instance {
  transition: max-height 500ms, transform 500ms, opacity 1000ms;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  grid-template-rows: 450px;
  margin-bottom: 1rem;
}

.product-card {
  width: 95%;
  padding: 1rem 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

.product-image {
  height: 150px;
  width: 100%;
}

.product-heart-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.4rem;
  cursor: pointer;
}

.product-heart-icon-container {
  position: relative;
}

.product-heart {
  z-index: 500;
}

.product-heart-empty {
  position: relative;
}

.product-heart-empty {
}

.product-heart-full {
  position: absolute;
  left: 0;
  opacity: 0;
}

.product-remove-favourite-button {
  cursor: pointer;
  background-color: var(--navbar-background-color);
  border-radius: 2rem;
}

.type-and-rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.type-brand {
  color: #817d7d;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating img {
  width: 18px;
}

.shop-side-options > div {
  cursor: pointer;
}

.shop-side-options-brands {
}

.shop-main-container-top-options {
  display: flex;
  align-items: center;
}

.shop-main-container-top-option-container {
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.shop-main-container-top-sorting-options {
  cursor: pointer;
  background-color: white;
  position: absolute;
  top: 100%;
  width: 150px;
}

.shop-main-container-top-sorting-options label {
  cursor: pointer;
}

.product-price-and-discount {
  display: flex;
  align-items: center;
}

.product-page-main-container {
  padding: 35px;
  align-items: center;
}

.product-left-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.product-left-icon {
  width: 15px;
}

.product-heart-full {
  filter: invert(30%) sepia(67%) saturate(6061%) hue-rotate(352deg)
    brightness(96%) contrast(110%);
}

.product-page-top-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.product-page-img-and-subimgs {
  display: flex;
}

.product-page-img {
  width: 300px;
}

.product-page-subimg {
  width: 40px;
  display: block;
  height: 40px;
}

.product-page-rating {
  background-image: url("/assets/gigastar.svg");
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  background-position: center;
  background-size: contain;
}

.product-page-rating-stars-and-stuff {
  display: flex;
  border-bottom: 1px solid var(--navbar-background-color);
}

.product-page-stars-and-count {
  display: flex;
}

.product-page-rating-options-container {
  display: flex;
}

.product-page-add-to-card-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 23px 50px;
  justify-content: space-between;
  border: 6px solid gray;
}

.product-page-group-and-type {
  display: flex;
}

.product-page-stat {
  height: 44px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.admin-page-main-container {
  text-align: center;
}

.admin-page-rating-stars-and-stuff {
  display: flex;
  min-width: 160px;
}

.admin-page-inner-container {
  display: grid;
  place-items: center;
  /* height: calc(100vh - var(--navbar-height)); */
}

.admin-page-main-container > button {
  display: block;
  height: 64px;
  background: #c4c4c4;
  width: 331px;
  margin: 24px;
}

.admin-page-product-description {
  max-width: 400px;
  word-break: break-word;
}

.admin-page-modal-opacity {
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.7);
  left: 0;
  top: var(--navbar-height);
  display: grid;
  place-items: center;
  z-index: 998;
}

.admin-page-options {
  display: flex;
}

.shop-main-container-top-options h2 {
  margin-right: 2rem;
}

.admin-page-option {
  cursor: pointer;
  user-select: none;
  border-right: 1px solid var(--navbar-background-color);
}

.admin-page-option:nth-last-child(1) {
  border-right: none;
}

.admin-page-elem-img {
  width: 150px;
  height: 150px;
}

.admin-page-search-container {
  position: relative;
  height: 30px;
  width: fit-content;
}

.admin-page-table {
  display: grid;
  place-items: center;
}

.modal-inner-container {
  min-width: 500px;
  background-color: #f3f3f3;
  display: grid;
  place-items: center;
  z-index: 999;
  max-height: 600px;
  overflow-y: auto;
}

.modal-inner-container img {
  width: 300px;
  height: 300px;
}

.modal-inner-container .banner-img {
  width: 800px;
  height: 300px;
}

.banner-img {
  width: 800px;
  height: 300px;
}

.input-icon {
  position: relative;
  width: fit-content;
}
.input-icon i {
  position: absolute;
  top: 8%;
  left: 15%;
}

.modal-inner-container select,
.modal-inner-container input {
  display: block;
}

.modal-stats {
  display: flex;
  column-gap: 8px;
  margin: 0.5rem 0;
}

.modal-stats > input::placeholder {
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-product-description {
  resize: none;
  width: 100%;
}

.pagination {
  display: flex;
  margin-bottom: 10px;
  align-self: center;
}

.page-number {
  width: 20px;
  height: 40px;
  display: grid;
  place-items: center;
  color: blue;
  user-select: none;
  margin-left: -1px;
  border: 1px solid gray;
  cursor: pointer;
}

.product-rating-container {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 20p—Ñx;
}

.product-rating-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}
.product-rating-rating-and-stuff-inner-container {
  flex-grow: 1;
}

.product-rating-text {
  grid-row-start: 2;
  grid-column: span 2;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.product-page-description {
  overflow-wrap: break-word;
  white-space: pre-line;
  word-break: break-word;
}

.product-rating-star-icon {
  width: 20px;
}

.product-page-add-rating-container {
  border: 1px solid var(--navbar-background-color);
  padding: 2rem;
}

.product-page-add-rating-text {
  resize: none;
  width: 100%;
}

.product-rating-profile-image-and-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.product-name {
  max-height: 20px;
  overflow: hidden;
}

.product-rating-thumb-container {
  display: flex;
}

.product-rating-thumb-icon {
  width: 18px;
  cursor: pointer;
  font-size: 0.8rem;
  display: grid;
}

.favourite-container {
  padding: 60px 35px 0 35px;
}

.favourite-inner-container {
  display: grid;
  place-items: center;
}

.compare-page-main-container {
  width: 800px;
  margin: auto;
}

.compare-page-description-container {
  overflow-wrap: break-word;
  white-space: pre-line;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.compare-page-products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.compare-page-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.orders-page-product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid var(--navbar-background-color);
}
.orders-page-main-container {
  display: grid;
  place-items: center;
}

.profile-page img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-page {
  display: grid;
  place-items: center;
}

.group-types-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group-types-card img {
  width: 200px;
}

.group-types-cards-container {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.main-page-slider-wrapper {
  position: relative;
}

.main-page-slider-things-container {
  display: flex;
}

.main-page-slider-things-card {
  background-color: #fff;
}

.main-page-slider-things-card img {
  height: 100px;
}

.main-page-container {
  display: grid;
  place-items: center;
  padding-top: 2rem;
}

.compare-page-main-container {
  display: grid;
  place-items: center;
}
.compare-page-products-container {
  grid-gap: 20px;
}
