:root {
  --navbar-height: 50px;
  --navbar-background-color: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

.navbar {
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--navbar-background-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  padding: 0.4rem 1rem;
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-search-bar-container {
  height: 100%;
  place-self: center;
  display: flex;
  position: relative;
}

.navbar-search-bar-types-container {
  height: 100%;
  padding: 0 0.4rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #24a0ed;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-search-bar-input-container {
  position: relative;
}

.navbar-search-bar {
  width: 300px;
  border: none;
  height: 100%;
  padding-left: 1rem;
  padding-right: 2rem;
}

.navbar-search-bar-types {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 160%;
  z-index: 999;
  border-radius: 0.5rem;
  padding: 0.6rem;
}

.navbar-types-icon,
.navbar-types-icon-x {
  filter: invert(57%) sepia(42%) saturate(5570%) hue-rotate(180deg)
    brightness(104%) contrast(86%);
  width: 19px;
  margin-left: 0.2rem;
}

.navbar-types-icon {
  transition: transform 500ms ease-out;
  transform: rotate(90deg);
}

.navbar-search-bar-submit-button-container {
  height: 100%;
  padding: 0 0.4rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid #24a0ed;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-search-bar-search-result-type {
  color: var(--navbar-background-color);
}

.navbar-x-icon {
  filter: invert(57%) sepia(42%) saturate(5570%) hue-rotate(180deg)
    brightness(104%) contrast(86%);
  width: 19px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 92%;
  cursor: pointer;
}

.navbar-search-icon {
  filter: invert(57%) sepia(42%) saturate(5570%) hue-rotate(180deg)
    brightness(104%) contrast(86%);
  width: 19px;
  margin-left: 0.2rem;
}

.navbar-cart-container {
  display: flex;
  align-items: center;
}

.navbar-cart-icon {
  width: 30px;
  filter: invert(57%) sepia(42%) saturate(5570%) hue-rotate(180deg)
    brightness(104%) contrast(86%);
}

.navbar-favourite-container {
  display: flex;
  align-items: center;
}

.navbar-favourite-icon-container {
  position: relative;
}

.navbar-favourite-count-container {
  background-color: #24a0ed;
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  left: 50%;
  top: -25%;
}

.navbar-modal-opacity {
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.7);
  left: 0;
  top: var(--navbar-height);
}

.navbar-search-bar-search-results {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 160%;
  border-radius: 0.5rem;
  background: #ffffff;
}

.navbar-search-bar-search-result {
  border-bottom: 1px solid var(--navbar-background-color);
  margin: 0 0.5rem;
  padding: 0.5rem 0.5rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.navbar-options {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  align-items: center;
}

.login-form-container {
  display: grid;
  place-items: center;
  height: 90vh;
}

.login-form {
  background-color: #c4c4c4;
  width: 560px;
  padding: 20px 50px;
  text-align: center;
}

.login-form > input {
  width: 100%;
  display: block;
  color: black;
  padding-left: 1rem;
  background-color: transparent;
  margin-bottom: 10px;
}

.login-form > input::placeholder {
  color: black;
  opacity: 1;
}

.login-form-options {
  display: flex;
}

.login-form-options > button {
  margin-left: auto;
}

.shop-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 60px 35px 0 35px;
}

.types {
  width: 200px;
  height: 254px;
  background: #c4c4c4;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}

.product-card {
  width: 150px;
}

.product-image {
  width: 150px;
  height: 150px;
}

.product-heart-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.4rem;
  cursor: pointer;
}

.product-heart-icon-container {
  position: relative;
}

.product-heart {
  z-index: 500;
}

.product-heart-empty {
  position: relative;
}

.product-heart-empty {
}

.product-heart-full {
  position: absolute;
  left: 0;
  opacity: 0;
}

.product-remove-favourite-button {
  cursor: pointer;
  background-color: var(--navbar-background-color);
  border-radius: 2rem;
}

.type-and-rating {
  display: flex;
}

.type-brand {
  color: #817d7d;
}

.rating {
  margin-left: auto;
  width: 30%;
}

.types > div,
.brands > div {
  cursor: pointer;
}

.brands {
  display: flex;
  column-gap: 10px;
}

.product-page-main-container {
  padding: 35px;
}

.product-page-top-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.product-page-img-and-subimgs {
  display: flex;
}

.product-page-img {
  width: 300px;
}

.product-page-subimg {
  width: 40px;
  display: block;
}

.product-page-rating {
  background-image: url("/assets/gigastar.svg");
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  background-position: center;
  background-size: contain;
}

.product-page-add-to-card-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 23px 50px;
  justify-content: space-between;
  border: 6px solid gray;
}

.product-page-group-and-type {
  display: flex;
}

.product-page-stat {
  height: 44px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.admin-page-container {
  padding: 69px 196px;
}

.admin-page-container > button {
  display: block;
  height: 64px;
  background: #c4c4c4;
  width: 331px;
  margin: 24px;
}

.admin-page-modal-opacity {
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  position: fixed;
  background-color: hsla(0, 0%, 0%, 0.7);
  left: 0;
  top: var(--navbar-height);
  display: grid;
  place-items: center;
}

.modal-inner-container {
  width: 500px;
  height: 300px;
  background-color: #f3f3f3;
  display: grid;
  place-items: center;
  z-index: 999;
  position: absolute;
}

.modal-inner-container select,
input {
  display: block;
}

.modal-stats {
  display: flex;
  column-gap: 8px;
  margin: 0.5rem 0;
}

.modal-stats > input::placeholder {
  text-overflow: ellipsis;
  overflow: hidden;
}

.pagination {
  display: flex;
  margin-bottom: 10px;
}

.page-number {
  width: 20px;
  height: 40px;
  display: grid;
  place-items: center;
  color: blue;
  user-select: none;
  margin-left: -1px;
  border: 1px solid gray;
  cursor: pointer;
}

.product-rating-container {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.product-rating-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}
.product-rating-rating-and-stuff-inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
}

.product-rating-text {
  grid-row-start: 2;
  grid-column: span 2;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.product-rating-star-icon {
  width: 15px;
}

.product-page-add-rating-text {
  resize: none;
  width: 100%;
}

.product-rating-profile-image-and-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.product-rating-thumbsup-thumbsdown-container img {
  width: 18px;
}

.product-rating-thumbsup-thumbsdown-container {
  display: flex;
  align-items: center;
}

.product-rating-thumbsup-thumbsdown-inner-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 1rem;
  user-select: none;
  padding: 0.3rem;
}

.product-rating-thumb-counter {
  background-color: var(--navbar-background-color);
  width: 16px;
  height: 16px;
  place-items: center;
  border-radius: 50%;
  font-size: 0.8rem;
  display: grid;
}

.product-rating-thumb-icon-container {
  display: flex;
}

.favourite-container {
  padding: 60px 35px 0 35px;
}

.favourite-inner-container {
  display: grid;
  place-items: center;
}
